@model KnitHub.Models.PatternDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit an Existing Variation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatternDetailId" />
            <div class="form-group">
                <label asp-for="PatternId" class="control-label">Pattern</label>
                <select asp-for="PatternId" class="form-control" asp-items="ViewBag.PatternId"></select>
                <span asp-validation-for="PatternId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yarnWeightValue" class="control-label"></label>
                <input asp-for="yarnWeightValue" class="form-control" />
                <span asp-validation-for="yarnWeightValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="needleTypeValue" class="control-label"></label>
                <input asp-for="needleTypeValue" class="form-control" />
                <span asp-validation-for="needleTypeValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="needleSizeValue" class="control-label"></label>
                <input asp-for="needleSizeValue" class="form-control" />
                <span asp-validation-for="needleSizeValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="wearableSizeValue" class="control-label"></label>
                <input asp-for="wearableSizeValue" class="form-control" />
                <span asp-validation-for="wearableSizeValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
