@{
    ViewData["Title"] = "About";

}
<body>
    <div class="container row">
        <h2 class="text-info col-sm-8">About Knit Hub</h2>
        <p>
            Years of using (and losing) hand-written lists of yarn requirements, spreadsheet inventories,
            and adding a fourth bedroom to house a yarn stash led to Knit Hub.  You caught us, the
            bedroom addition was a wee bit of an exageration, but you understand what we mean.  Our
            combined experiences led us to trying to find a solution to our common problem.<br /><br />

            We created three inventory logs, one each for yarn, patterns, and needles - the three primary
            components of every knitting project.  These searchable inventories were great, but we
            found we still spend quite a bit of time manually cross-referencing our inventories before
            we could begin our next great projects.  That led to a lengthy "what-if" session during
            which we envisioned a Samantha Stevens process to match yarn and needles to patterns.
            Voila!  Knit Hub was born.<br /><br />

        </p>
    </div>
</body>