@{
    ViewData["Title"] = "About";

}
<h1>About Knit Hub</h1>
<hr />

<body>
    <div class="container row">
        <p style="color: #4E3883">
            <img src="~/images/yarn.jpg" width="450" height="300" alt="group of knitted projects" class="imgproj float-right p-2 img-fluid" />

            Years of using (and losing) hand-written lists of yarn requirements, spreadsheet inventories,
            and adding a fourth bedroom to house a yarn stash led to Knit Hub.  You caught us, the
            bedroom addition was a wee bit of an exageration, but you understand what we mean.  Our
            combined experiences led us to trying to find a solution to this common problem.<br /><br />

            We are passionate about the fiber arts and supporting fellow artisans.
        </p>
        <a asp-controller="Yarn" asp-action="Create"><button class="btn_get_started" style="background-color: #4E3883; color: #DCE1E3; font-size: 20px; padding: 12px 24px; border: none; cursor: pointer; border-radius: 5px ">Get Started</button></a>
    </div>
</body>