@{
    ViewData["Title"] = "About";

}
<h1>About Knit Hub</h1>
<hr />

<body>
    <div class="container row">
        <p>
            <img src="~/images/projectstash.jpg" width="450" height="300" alt="group of knitted projects" class="imgproj float-right p-2 img-fluid" />

            Years of using (and losing) hand-written lists of yarn requirements, spreadsheet inventories,
            and adding a fourth bedroom to house a yarn stash led to Knit Hub.  You caught us, the
            bedroom addition was a wee bit of an exageration, but you understand what we mean.  Our
            combined experiences led us to trying to find a solution to this common problem.<br /><br />

            The three basic components of every knitting project are a pattern, yarn, and needles.  Our goal
            with Knit Hub is to create a central repository where a fiber artist can add and store details
            about yarn, patterns, and needles, all available on demand through the app, on any device.
            We also want the app to provide search funtionality that cross-references a member's
            inventories to show what projects can be completed with on-hand supplies.<br /><br />

            Conducting a mini market study led to many requests for us to release a scaled-down version
            of the app, then upgrade as we complete enhancements.  Currently, Knit Hub allows a member
            to add their inventories of yarn and patterns.<br /><br />

            Rest assured, we are hard at work to expand Knit Hub into our dream.  Future additions to
            the app include:<br /><br />

            * Needles and Notions inventories<br />
            * Cross-inventory search functionality<br />
            * Options for Crochet and Weaving<br /><br />

            Create your membership today and experience the joy of stash details available whenver you
            need them!<br /><br />
        </p>
        <a asp-area="Identity" asp-page="/Account/Register"><button class="btn_get_started" style="background-color: #4E3883; color: #DCE1E3; font-size: 20px; padding: 12px 24px; border: none; cursor: pointer; border-radius: 5px ">Get Started</button></a>
    </div>
</body>