@{ 
    ViewData["Title"] = "How it Works";
}
<body>
    <div class="container row">
        <i class="fas fa-magic mr-3 text-info ali" style="font-size:36px"></i>
        <h2 class="text-info col-sm-8">How it Works</h2>
        <p>
            <img src="~/images/projectstash.jpg" width="450" height="300" alt="group of knitted projects" class="imgproj float-right p-2 img-fluid" />

            It starts with adding the details of each yarn in your stash, each set of needles you
            own, and the requirements for the patterns in your collection.  This information is
            stored in a database and can be added to, and updated, whenever you find new yarn,
            patterns, and needles.  Simply create new entries, or update existing ones as you
            complete your projects.<br /><br />

            Knit Hub's magic lies in its search functionality.  It combs through all three inventory
            files to match yarn and needle requirements to selected patterns.  It also will find
            patterns that match a selected yarn.  If you're like us, you can never have too much
            yarn, you can search through patterns while you're shopping your next yarn finds.
            That way you'll be sure to purchase enough of the same dye lot, and not too much - unless
            it's by choice.<br /><br />

            Start creating your personalized Knit Hub today!
        </p>
    </div>
</body>