@{
    ViewData["Title"] = "Home";
}

<body>
    
    <img src="~/images/homepage_background.jpg" alt="light gray wall with 3 skeins of gray yarn" class="img-fluid" style="position: absolute; top: 0px; left: 0px; z-index: -1; width: 100%; height: 100%" />
    
    <!--
    <img src="~/images/homepage_background.jpg" alt="light gray wall with 3 skeins of gray yarn" class="img-fluid" style="background-size: cover; background-position: center;
                    background-repeat: no-repeat; background-attachment: fixed; text-align: right; color: #4E3883; font-size: 60px" />
    -->

    <div class="home">
        <div class="home_text">
            <p>
                Your yarn,<br />
                Your patterns,<br />
                Your Knit Hub
            </p>
        </div>
        <button class="btn_get_started">Get Started</button>
    </div>
</body>
