@{
    ViewData["Title"] = "Home";
}

<body>
    <header>
        <h1 class="text-info">Welcome to Knit Hub</h1>
    </header>
    <div class="home">
        <img src="~/images/homepage_background.jpg" alt="light gray wall with 3 skeins of gray yarn" class="margin: 0 img-fluid" />
        <div class="home_text">
            <p>Your yarn,<br />
            Your patterns,<br />
            Your needles...<br />
            Your Knit Hub</p>
        </div>
        <button class="btn_get_started">Get Started</button>
    </div>
</body>
