@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="home">
        <img src="~/images/homepage_background.jpg" alt="light gray wall with 3 skeins of gray yarn" />
        <div class="home_text">
            <p>Your yarn,<br />
            Your patterns,<br />
            Your needles...<br />
            Your Knit Hub</p>
        </div>
        <button class="btn_get_started">Get Started</button>
    </div>
</body>
