@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1><br />

<hr />

<p>We take your privacy very seriously.  Securing your personal information is a top priority for us.
   Your personal information is used to provide you with access to your unique Knit Hub.  Additionally, 
   use regional data, such as telephone area codes and exchanges, to identify Knit Hub's reach.  We
   will never sell or transfer your information to another group or company without your express
   consent.<br /><br />
   
   If you have any questions about our privacy policies, or concerns about data breaches, please contact
   us right away.</p>
