body, html {
    height: 100%;
    margin: 0;
}

.home {
    /*background-image: url("../wwwroot/images/homepage_background.jpg");*/
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #4E3883;
    font-size: 60px;
}

/* how to make responsive? */
.home .home_text {
    position: absolute;
    top: 150px;
    right: 100px;
}

.home img {
    width: 100%;
    height: auto;
}

.home .btn_get_started {
    position: absolute;
    top: 575px;
    right: 140px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #EE7879;
    color: black;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.home .btn_get_started:hover {
    background-color: #3FB0AC;
}

body {
    background-color: #f0f0f0;
}

h1 {
    font-size: 44pt;
    color: #235C64;
}

h2 {
    color: #3FB0AC;
}

.imgproj {
    margin-right: 15px;
}

.navbar-nav .nav-item {
    color: #4E3883;
}
