.navbar-inverse .navbar-nav > lit > a {
    color: #4E3883;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a {
    color: #235C64;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #EEBA63F;
}

body, html {
    height: 100%;
    margin: 0;
}

/* how to make responsive? */
.home .home_text {
    position: absolute;
    text-align: right;
    color: #4E3883;
    font-size: 60px;
    top: 100px;
    right: 100px;
}

/* Insert .home img here */

.home .btn_get_started {
    position: absolute;
    top: 600px;
    right: 300px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #EE7879;
    color: #4E3883;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.home .btn_get_started:hover {
    background-color: #3FB0AC;
}

body {
    background-color: #f0f0f0;
}

h1 {
    font-size: 44pt;
    color: #235C64;
}

h2 {
    color: #3FB0AC;
}

h5 {
    color: #4E3883;
}

.table {
    color: #4E3883;
}

p {
    font-size: 20px;
    color: #4E3883;
}

.imgproj {
    margin-right: 15px;
}

.navbar-nav .nav-item {
    color: #4E3883;
}
