@model KnitHub.Models.Pattern

@{
    ViewData["Title"] = "Create";
}

<h1>Add a Pattern</h1>
<hr />

<div class="col-md-6" style="float: right; width: 90%">
    <p style="font-size: 20px; color: #4E3883">
        Adding a new pattern involves a few steps, primarily because a single pattern can have variations in yarns weights
        and clothing sizes.  Please note that if you need to add new Publishers or Designers, you will need to do this 
        before you will be able to add your new pattern.  Follow the links and directions below.
        
        To ensure that your individual patterns are configured accurately, please follow these steps to add pattern:<br />

        <ul style="color: #4E3883">
            <li>
                Check the Publishers drop-down menu to see if the publisher of your new pattern is in the list.  If so, select the Publisher.
                If not, follow this <a asp-controller="Manufacturer" asp-action="Create">link</a> to add a new Publisher.
            </li>
            <li>
                Check the Designer drop-down menu to see if the pattern's designer is in the list.  If so, select the designer.  If not,
                follow this <a asp-controller="Designer" asp-action="Create">link</a> to add a new designer.
            </li>
            <li>
                Select the pattern Category and Skill Level from the drop-down menus, then enter a description of the place you keep
                the pattern in the Storage Location field.
            </li>
            <li>
                Be sure to select the current date, then click the Save button.
            </li>
            <li>
                Click the Pattern Variations link to the left of the yarn you just added.  Follow the directions on that page to
                finish adding the details for your new Pattern Variation.
            </li>
        </ul>
    </p>
</div>

<div class="row">
    <div class="col-md-6" style="float: left; width: 75%">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label">Publisher</label>
                <select asp-for="ManufacturerId" class ="form-control" asp-items="ViewBag.ManufacturerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DesignerId" class="control-label">Designer</label>
                <select asp-for="DesignerId" class ="form-control" asp-items="ViewBag.DesignerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevelId" class="control-label">Skill Level</label>
                <select asp-for="SkillLevelId" class ="form-control" asp-items="ViewBag.SkillLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StorageLocation" class="control-label"></label>
                <input asp-for="StorageLocation" class="form-control" />
                <span asp-validation-for="StorageLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
